<a href="https://colab.research.google.com/github/swathikrishnacv/python-/blob/main/Co1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #2_display future leap years from current year to a final year entered by user 
 
x=int(input("enter the current year:"))
y=int(input("enter the last year"))
for i in range(x,y+1):
  if i%4==0 and i%100!=0 or i%400==0:
    print(i)
i=i+1

enter the current year:2021
enter the last year2040
2024
2028
2032
2036
2040

In [ ]:
 #3a_positive list of numbers from a given list of integers
list=[1,-3,0,8,2,3,-4]
list=[x for x in list if x>0]
print(list)

[1, 8, 2, 3]

In [ ]:
 #3b_square of n numbers
N=int(input("enter limit:"))
list=[]
for x in range(N):
  X=int(input("enter nos"))
  list.append(X)
print(list)
square=[X**2 for X in list]
print(square)

enter limit:4
enter nos1
enter nos2
enter nos3
enter nos4
[1, 2, 3, 4]
[1, 4, 9, 16]

In [ ]:
 #3c_vowel selected from a given word
word="chair"
vowels="aeiou"
list=[x for x in word if x in vowels]
print(list)

['a', 'i']

In [ ]:
#3d_ordinal value of each element of a word
word="chair"
list=[ord(x) for x in word]
print(list)

[99, 104, 97, 105, 114]

In [ ]:
#4_count occurrence of each word in aline of text
text="java language is a simple and powerfull programming language "
for i in text.strip().split():
    print("Number of occurence of word ","\"",i,"\""," is :",text.strip().split().count(i))

Number of occurence of word  " java "  is : 1
Number of occurence of word  " language "  is : 2
Number of occurence of word  " is "  is : 1
Number of occurence of word  " a "  is : 1
Number of occurence of word  " simple "  is : 1
Number of occurence of word  " and "  is : 1
Number of occurence of word  " powerfull "  is : 1
Number of occurence of word  " programming "  is : 1
Number of occurence of word  " language "  is : 2

In [ ]:
#5_prompt the user for alist of integers.for all values greater than 100 store 'over' insted 
list=[]
for i in range(6):
  num=int(input("enter the number:"))
  if num<100:
   list.append(num)
  else:
   list.append("over")
print(list)

enter the number:5
enter the number:34
enter the number:567
enter the number:123
enter the number:35
enter the number:68
[5, 34, 'over', 'over', 35, 68]

In [ ]:
 #6_store a list of first names.count the occurrence of 'a' within a list
l=input("enter the names:")
word=l.split()
print(word)
count=0
for i in l:
  if i=="a":
   count+=1
print("the occurrence of a is:",count)

enter the names:Anamika anu
['Anamika', 'anu']
the occurrence of a is: 3

In [ ]:
#7_compare two lists
l1=[30,40,20,10,50]
l2=[30,40,60,15,32]
print(len(l1))
print(len(l2))
total=sum(l1)
print("sum of list1",total)
total=sum(l2)
print("sum of list2",total)
l3=[]
for n in l1:
  if n in l2:
    if n not in l3:
      l3.append(n)
print(l3)

5
5
sum of list1 150
sum of list2 177
[30, 40]

In [ ]:
#8_get a string from an input string where all occurrence of first character replaced with $,except first character
a=input("enter a string:")
b=a[0]
s=a[1:len(a)]
for i in range(len(s)):
  if s[i]==a[0]:
     b=b+"$"
  else:
    b=b+s[i]
print(b)

enter a string:onion
oni$n

In [ ]:
#9_create a string from given string where first and last characters exchanged
str=input("enter a string:")
newstr=str[-1:]+str[1:-1]+str[:1]
print(newstr)

enter a string:python
nythop

In [ ]:
 #11_find biggest of three numbers
x=int(input("enter first num:"))
y=int(input("enter secnd num:"))
z=int(input("enter third num:"))
if x>y and x>z:
  largest=x
elif y>x and y>z:
  largest=y
else:
  largest=z
print(" largest number is",largest)

enter first num:6
enter secnd num:7
enter third num:8
 largest number is 8

In [ ]:
#12_accept a file name from user and find area of circle
file=input("enter the file name with extension:")
print("extension of the file is:",file.split(".")[-1])

enter the file name with extension:S.jpg
extension of the file is: jpg

In [ ]:
#10_accept radius from user and find area of circle
rad=int(input("enter the radius:"))
print(" area of circle with radius "+str(rad)+"is:"+str(3.14*rad*rad))

enter the radius:4
 area of circle with radius 4is:50.24

In [ ]:
#13_ create a list of colors from comma separated color names entered by user .display first and last colors
n=int(input("enter the number of colors:"))
list=[]
for i in range(n):
  a=input("enter the color:")
  list.append(a)
print(list)
print("the first color is:",list[0])
print("the last color is:",list[-1])

enter the number of colors:4
enter the color:Green
enter the color:Yellow
enter the color:Blue
enter the color:Red
['Green', 'Yellow', 'Blue', 'Red']
the first color is: Green
the last color is: Red

In [ ]:
 
#14_accept an integer n and compute n+nn+nnn
a=int(input("enter a number"))
a1=a*11
a2=a*111
print(a+a1+a2)

enter a number3
369

In [ ]:
#15_print out all colors from color list 1 not contained in color list2
col1=['red','blue','yellow','violet']
col2=['green','blue']
print(col1)
print(col2)
for i in range(len(col1)):
  if col1[i] not in col2:
     print("the color is:",col1[i])

['red', 'blue', 'yellow', 'violet']
['green', 'blue']
the color is: red
the color is: yellow
the color is: violet

In [ ]:
#16_create a single string seperated with space from two strings by swapping the character at position 1
a=input("enter first string:")
b=input("enter second string:")
s1=b[0]+a[1:]
s2=a[0]+b[1:]
print("the swapped string is:",s1+'',s2)

enter first string:Ann
enter second string:Marry
the swapped string is: Mnn Aarry

In [ ]:
#18_merge two dictionaries
dict1={"s":5,"f":6}
dict2={"g":7,"h":2}
dict1.update(dict2)
print(dict1)

{'s': 5, 'f': 6, 'g': 7, 'h': 2}

In [ ]:
#19_find gcd of two numbers
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
while b!=0:
 gcd=b
 b=a%b
 a=gcd
print(gcd)

enter the first number:32
enter the second number:24
8

In [ ]:
#20_from a list of integers,create a list removing even numbers
list=[1,-4,0,-3,6]
newlist=[x for x in list if x%2!=0]
print(newlist)

[1, -3]